html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('kota-gresik.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    display: block;
    background: #ffffff;
}

ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

ul a{
    list-style: none;
    text-decoration: none;
    color: #e91e63;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

ul a:hover{
    background: #e91e63;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    /* text-align: right; */
    box-sizing: border-box;
    display: none;
}

.toggle .logo{
    width: 87%;
}

.toggle .logo, img{
    display: inline-block;
}

#wrapper{
    width: 100%;
    height: 100%;
    display: table;
}

.inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.content h1, .content h3{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    text-shadow: 0px 0px 300px #000000;
}

.content h1{
    font-size: 50px;
}

.content h3{
    margin-bottom: 30px;
}

.content .logo{
    background: #ffffff;
    border-radius: 50%;
    margin-bottom: 10px;
}

#struktur{
    background: #f0f0f0;
    text-align: center;
}
.card{
    margin: 4%;
    display: inline-block;
}

#footer{
    margin: 0;
    background: #1a1a1a;
    padding: 2%;
    overflow: hidden;
}

#footer .lokasi, #footer .ig{
    float: left;
    margin-right: 8.5%;
}

#footer .lokasi h3 , #footer .ig h3{
    color: #f0f0f0;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 2px solid #5e5c5c;
    margin: 0;
    
}

#footer .lokasi p , #footer .ig p{
    color: #918d8d;
    width: fit-content;
    margin: 0;
    
}

#footer .lokasi iframe , #footer .ig iframe{
    margin-top: 5%;
    width: 400px;
    height: 400px;
}

.copyright{
    text-align: center;
    padding: 1%;
    background: #1a1a1a;
}

.copyright p{
    padding: 10px;
    color: #f0f0f0;
    border-top: 2px solid #5e5c5c;
}

@media (max-width:768px){
    .toggle{
        display: block;
    }

    ul{
        width: 100%;
        display: none;
    }
    
    ul a{
        display: block;
    }

    .active{
        display: block;
    }

    #footer .lokasi iframe , #footer .ig iframe{
        width: 60%;
        height: 60%;
        min-width: 290px;
        min-height: 290px;
    }

    #footer .lokasi , #footer .ig{
        margin-top: 5%;
    }
    
}